<div id="<%= dom_id style %>">
  <p>
    <strong>Style:</strong>
    <%= style.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= style.description %>
  </p>

  <p>
    <strong>Beers:</strong>
    <ul>
      <% style.beers.each do |beer| %>
        <li><%= beer.name %></li>
      <% end %>
    </ul>
  </p>

</div>
